<html>

<head>
    <title>COVID 19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% if stats %}  
    <table class="table table-striped">
        <thead>
            {% for header in headers %}
            <td>{{ header }}</td>
            {% endfor %}
        </thead>
        <tbody>
            {% for stat in stats %}
            <tr>
                {% for row in stat %}
                <td>{{ row }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>No data available</h1>
    {% endif %}
</body>

</html>